.icon-green-color{ 
    --sds-c-icon-color-foreground-default:#45A076;
}
.icon-styles{
    --sds-c-icon-color-foreground-default: #dfeae5;
    --sds-c-icon-color-background: #dfeae5;
    border-radius: 100%;
}
.custom-font-weight{
    font-weight: normal;
}
.header-column {
    padding: 0 2rem;
}
.field-title {
    font-size: .85rem;
}
.field-header{
    font-size: .85rem;
    line-height: 1.25;
    color: #54698d;
    margin-bottom: .25rem;
}
.test{
    margin-left: 0.5rem;
}
.refreshRotate {
    animation: rotate .4s;
}